<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<meta charset ="UTF-8">
		<title>Belay On</title>
		<link rel="stylesheet" href="styles/style.css">
	</head>
	<body ng-controller="ListController">
		<div>
			<h1 class="title">Belay On</h1>
		</div>

		<div class="profile-card">
			<div class="profile-card-user">
		    	Adventurer: {{ users[1].name }}
			</div>
			<div class="profile-card-friends">
				<p>
					FRIENDS
				</p>
				<ul>
					<div ng-repeat="friend in users[1].friends">
						<p><a href ng-click="changeId(friend, 'friendId')">{{ users[friend].name }}</a></p>
					</div>
				</ul>
			</div>
			<div class="profile-card-lists">
				<p>
					USER'S LISTS
				</p>
				<ul>
					<li ng-repeat="list in users[1].listIds">
						<p><a href ng-click="changeId(list, 'listId')">{{ lists[list].name }}</a></p>
					</li>
				</ul>
			</div>
		</div>


		<!-- info that shows up for each list when clicked in the menu above -->
		<div class="list" ng-repeat="list in lists" ng-show="listId===list.id">
			<p>
				{{ list.name.toUpperCase() }}
			</p>
			<ul>
				<li ng-repeat="item in list.items">
					{{ item }} <button ng-click='removeItem($index, list.id)'>X</button>
				</li>
			</ul>
			<form name='new item' ng-submit='addItem(newItem, list.id); newItem=""'>
			  <input type='text'ng-model='newItem'>
			  <button>Add</button>
			</form>
			<a href="mailto:?subject={{list.name}}&body={{list.items.join(', ')}}">Email List</a> 
		</div>



		<!-- info that shows up for each friend when clicked in the menu above -->
		<div class="friendLists" ng-repeat="friend in users[1].friends" ng-show="friendId===friend">
			<p>
				{{ users[friend].name.toUpperCase() }}
			</p>
			<ul>
				<li ng-repeat="list in users[friend].listIds">
					{{ lists[list].name }}
				</li>
			</ul>
		</div>



		<div ng-view></div>





		<script type="text/javascript" src="bower_components/angular/angular.js"></script>

		<script src="bower_components/angular-route/angular-route.js"></script>

		<script type="text/javascript" src="app/app.js"></script>
		<script src="app/allLists/allLists.js"></script>
	</body>
</html>