body {
	font-family: Impact;
}

.title {
	text-align: center;
	background-color: black;
	color: white;
}

.user {
	text-align: center;
	background-color: lightyellow;
}

.lists {
	background-color: lightblue;
}

.friends {
	background-color: lightgreen;
}

.list {
	background-color: lightgray;
}