<!-- list of lists to click on -->
<div class="lists">
  <p>
    ALL LISTS
  </p>
  <!-- {{lists}} -->
  <ul>
    <li ng-repeat="list in lists">
      <p><a href ng-click="changeId(list.id, 'listId')">{{ list.name }}</a>
        <button ng-click='addToUsersLists(1, list.id)'>Add to My Lists</button>
      </p>
    </li>
  </ul>
</div>

<!-- info that shows up for each list when clicked in the menu above -->
<div class="list" ng-repeat="list in lists" ng-show="listId===list.id">
  <p>
    {{ list.name.toUpperCase() }}
  </p>
  <ul>
    <li ng-repeat="item in list.items">
      {{ item }} 
      <!-- <button ng-click='removeItem($index, list.id)'>X</button> -->
    </li>
  </ul>
  
<!--   <form name='new item' ng-submit='addItem(newItem, list.id); newItem=""'>
    <input type='text'ng-model='newItem'>
    <button>Add</button>
  </form> -->

  <a href="mailto:?subject={{list.name}}&body={{list.items.join(', ')}}">Email List</a> 

</div>
