<!-- list of lists to click on -->

<div class='wrapper'>
  <all-lists></all-lists>




  <!-- info that shows up for each list when clicked in the menu above -->
  <div class="allList-list" ng-repeat="list in lists" ng-show="listId===list.id">
    <p>
      {{ list.name.toUpperCase() }}
    </p>
    <ul>
      <li ng-repeat="item in list.items">
        {{ item }} 
        <!-- <button ng-click='removeItem($index, list.id)'>X</button> -->
      </li>
    </ul>
    
  <!--   <form name='new item' ng-submit='addItem(newItem, list.id); newItem=""'>
      <input type='text'ng-model='newItem'>
      <button>Add</button>
    </form> -->

    <!-- <a href="mailto:?subject={{list.name}}&body={{list.items.join(', ')}}">Email List</a>  -->

  </div>
</div>